/* PAGINATION */
.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pagination-controls i {
    font-size: 1.15rem;
}

.pageSizeSelector {
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
}
