/* HEADER */
#header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1.75px solid var(--clr-text-backgroung);
}

#header .header-logo img {
    width: 175px;
    padding-bottom: 0.75rem;
}

#header .header-nav {
    display: flex;
    gap: 1rem;
}

#header .header-nav > a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.15rem;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.2s ease-in-out;
}

#header .header-controls {
    display: flex;
    gap: 1.5rem;
}

#header .header-controls > a {
    font-size: 1rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

#header .header-controls i {
    font-size: 1.35rem;
    transition: 0.2s ease-in-out;
}

#header .header-controls > a:hover {
    color: var(--clr-text-backgroung);
}

.active {
    color: var(--clr-icon);
    font-weight: bold;
}

@media (min-width: 1440px) {
}

@media (min-width: 1240px) and (max-width: 1440px) {
}

@media (min-width: 1024px) and (max-width: 1240px) {
    #header .header-controls {
        display: flex;
        gap: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 480px) and (max-width: 768px) {
    #header .header-controls {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        gap: 0.75rem;
    }
}

@media (max-width: 480px) {
    #header .header-controls {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        gap: 0.5rem;
    }

    .container {
        padding: 2rem;
    }
}
